
        .btn{
            padding : 0.5rem 0.7rem;
          }
          .loginbutton-user{
              min-width: 150px;
              margin: 10px 15px;
              /* border: 3px solid #28a745; */
              box-shadow: 0 0 0 0.2rem #28a74588;
              letter-spacing: 1px;
              text-transform: uppercase;
              transition: transform 80ms ease-in;
              font-size: 1.4rem;
          }
          .loginbutton-creator{
              min-width: 150px;
              margin: 10px 15px;
              /* border: 3px solid #f4623a; */
              box-shadow: 0 0 0 0.2rem rgba(246, 122, 88, 0.5);
              font-size: 1.4rem;
              letter-spacing: 1px;
              text-transform: uppercase;
              transition: transform 80ms ease-in;
          }
          .loginbutton{
              /* min-width: 150px; */
              margin: 10px 15px;
              padding: 0.3rem 0.7rem;
              letter-spacing: 1px;
              font-weight: bold;
              text-transform: uppercase;
              transition: transform 80ms ease-in;
              border-radius: 20px;
          }
          button:active {
            transform: scale(0.80);
          }
          button:focus {
            outline: none;
          }